.action-toolbar {
  --background: #ffffff;
  border-top: 1px solid #ffffff;
  display: flex;
  padding: 4px 8px;

  ion-button {
    flex: 1;
    height: 52px;
    font-size: 11px;
    font-weight: 600;
    --border-radius: 8px;
    margin: 0 3px;
  }

.btn-primary {
  --background: #13b2f1;
  --color: white;
  --border-radius: 10px;
}

.btn-secondary {
  --background: #4CAF50;
  --color: white;
  --border-radius: 10px;
}

.btn-danger {
  --background: #E53935;
  --color: white;
  --border-radius: 10px;
}
}