<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/centro-operaciones"></ion-back-button>
    </ion-buttons>
    <ion-title>Etiquetado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="seleccionar"
      href="/centro-operaciones/etiquetado/seleccionar">
      <ion-label>Seleccionar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="listado"
      href="/centro-operaciones/etiquetado/listado">
      <ion-label>Listado</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>